:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}


.cell {
    border: 1px solid #9ba6a8;
    background: #dfdfdf;
    border: 1px solid black;
  }